body{
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgoldenrodyellow;
  margin: 0;
  margin-top: 50px;
}
.text-wrapper{
  box-sizing: border-box;
  width: 360px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 1rem;
  padding: 5px;
  color: brown;
}
#result-display{
  width: 70%;
}
#result{
  width: 50%;
  height: 100%;
}
.button{
  width: 360px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  
}
button{
  width: 100px;
  height: 40px;
  padding: 5px;
  font-weight: 600;
  color: white;
  background-color: burlywood;
  border: 2px solid brown;
  border-radius: 2px;
}
.board{
  background-color: lightgreen;
  border: 3px solid white;
  height: 360px;
  width: 360px;
  display: flex;
  flex-wrap: wrap;
}

.board div{
  height: 40px;
  width: 40px;
}
.ending-block{
  background-color: pink;
}
.starting-block{
  background-color: green;
}



.l1, .l2, .l3{
  background-color: brown;
}

.l4, .l5{
  background-color: lightblue;
}

.c1{
  background-color: black;
}

.c2, .c3{
  background-color: lightgray;
}

.frog{
  background-image: url("images/frog.svg");
  
}